
@import url(../../style.css);


.menu_button{
    color: #0076A3;
    border: 3px solid #0076A3;
    padding: 10px;
    background-color: #ffffff;
    transition:all 0.5s ease 0s;
}

.text_block-text h2{
    font-size: calc(15px + 4*(100vw / 1700));
}
.text_block-text table{
   width: 100%;
   font-size: calc(16px + 3*(100vw / 1700));
    text-align: left;
    margin: 40px auto;
}

.text_block-text table,tr,td{
   
    
    border: 1px dotted #38708a;
    padding: 5px;
   
 }
.text_block-text tr:nth-child(even){
    background-color: #f8f8f8;
}
.text_block-text tr:nth-child(odd){
    background-color: #ffffff;
}

.text_block-text tr:hover {
    background-color: #f0f5f8;
}
.text_block{
    padding: 10px;
    width: 900px;
}
.text_block-text table tr td a:link{
    color:#1b6886;
}
.text_block-text table tr td a:visited{
    color:#008b4a;
}
.text_block-text table tr td a:visited:hover{
    color:#00d370;
}
.text_block-text table tr td a:hover{
    color:#08a4e2;
}

#map{
    height: 500px;
    width: 100%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
@media(max-width:950px){
    .text_block{
        max-width: 700px;
    }
}
@media(max-width:769px){
    .text_block{
        max-width: 600px;
    }
}
@media(max-width:630px){
    .text_block{
        max-width: 450px;
    }
}
@media(max-width:482px){
    .text_block{
        max-width: 360px;
    }
    .text_block-text tr td:nth-child(odd){
        background-color: #f8f8f8;
    }
    .text_block-text tr td:nth-child(even){
        background-color:  #ffffff;
    }
    .text_block-text table tr td{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        
    }
    .text_block-text table tbody{
        border-collapse: collapse;
    }
}

#content{
   text-align: center;
}
@media(max-width:380px){
    .text_block{
        width: 100%;
    }
    
    .text_block-text tr td:nth-child(odd){
        background-color: #f8f8f8;
    }
    .text_block-text tr td:nth-child(even){
        background-color:  #ffffff;
    }
    .text_block-text table tr td{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        
    }
    .text_block-text table tbody{
        border-collapse: collapse;
    }
   
}

