@import url(../style.css);
.menu_list li:nth-child(3) a{
    text-decoration: underline;
}
.header{
    position:fixed;
    left: 0;
    top: 0;
    z-index: 15;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_us{
    margin: 160px 15px 40px;
}
.about_us-block{
    background-color: #ffffff;
    max-width: 1200px;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0px 3px 10px;
    text-align: center;
    
    color:#0081b4;
}



.label_text{
    color:#006188;
    font-size: calc(12px + 5*(100vw / 1700));
    text-decoration: wavy underline;
    margin: 20px 0px;
}

.text{
    font-weight: normal;
    font-size: calc(15px + 5*(100vw / 1700));
}

.text p{
    margin: 15px 0px;
}
.text p:nth-child(odd){
    color:#00597c;
}