
@import url(../style.css);


.menu_button{
    color: #0076A3;
    border: 3px solid #0076A3;
    padding: 10px;
    background-color: #ffffff;
    transition:all 0.5s ease 0s;
}

.text_block-text h2{
    font-size: calc(15px + 4*(100vw / 1700));
}
.text_block-text table{
   
   font-size: calc(16px + 3*(100vw / 1700));
    text-align: left;
    margin: 40px 0px;
}

.text_block-text table,tr,td{
   
    
    border: 1px dotted #38708a;
    padding: 5px;
   
 }
.text_block-text tr:nth-child(even){
    background-color: #f8f8f8;
}
.text_block-text tr:nth-child(odd){
    background-color: #ffffff;
}

.text_block-text tr:hover {
    background-color: #f0f5f8;
}
.text_block{
    padding: 10px;
}
.text_block-text table tr td a:link{
    color:#1b6886;
}
.text_block-text table tr td a:visited{
    color:#008b4a;
}
.text_block-text table tr td a:visited:hover{
    color:#00d370;
}
.text_block-text table tr td a:hover{
    color:#08a4e2;
}

#map{
    height: 500px;
    width: 800px;
    border-radius: 40px;
}
@media(max-width:500px){
    
    .text_block-text tr td:nth-child(odd){
        background-color: #f8f8f8;
    }
    .text_block-text tr td:nth-child(even){
        background-color:  #ffffff;
    }
    .text_block-text table tr td{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        
    }
    .text_block-text table tbody{
        border-collapse: collapse;
    }
   
}

@media(max-width:345px){

.block_menu{
    
    margin-right: 0px;
    margin-left: 0px;
  }
  .text_block{
      padding-left: 0px;
      padding-right: 0px;
  }
}