
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
   
    
    margin:0;
    padding: 0;
    background: url(../images/background.png);
    }

header{
    position:sticky;
    top: 0;
    z-index: 2;
    
    box-shadow: 0px 3px 10px;
    background-color: #ffffff;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul li:last-child a{
    color: #ffffff; 
    padding: 10px;
    border: 3px solid #0076A3;
    border-radius: 10px;
    background-color: #0076A3;  
    transition:0.5s;
}

header nav ul li:last-child:hover a{
    color: #0076A3;
    border: 3px solid #0076A3;
    padding: 10px;
    text-decoration: none;
    background-color: #ffffff;
    
}


header nav ul li:hover a{
    color:#009ddb;
    text-decoration: none;
    
}


header nav ul li{
    
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
    
}

header nav ul li a{
    transition:0.5s;
    color:#0076A3;
    text-decoration: none;  
    font-size: 20px;
    
}


.kontakt{
    
   background-color: #ffffff;
   color:#005374;
   width: 50%;
   min-width: 30em;
   padding: 20px;
   border-radius: 50px;
   box-shadow: 0px 3px 10px;
   margin: 50px auto 50px;
   
   text-align: center;
}

.kontakt h1{
    color:#003347;
    font-size: 22px;
 }

.kontakt h2{
    font-size:18px;
}
table{
    width: 70%;

}
table,tr,td{
    font-size: 18px;
    text-align: left;
    border: 1px dotted #38708a;
    padding: 5px;
    margin: 20px auto 40px;
 }
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #ffffff;
}

tr:hover {
    background-color: #c5dfeb;
}
/*
 .kontakt iframe{
   width: 90%;
   border-radius: 20px;
   height: 480px;
 }*/
.googlemap{
    margin: 0 auto;
    width: 90%;
   
   border-radius: 20px;
   height: 480px;
}

footer{
    width: 100%;
    font-size: 15px;
    background-color: #ffffff;
    min-height: 5vh;
    box-shadow: 0px -3px 5px #aaaaaa;
}
footer p{
    color:#004561;
    padding: 15px 0px;
    margin: 0px;
    text-align: center;
}


