body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    background: url(../images/background.png);
    }

header{
    position:sticky;
    top: 0;
    z-index: 2;
    
    box-shadow: 0px 3px 10px;
    background-color: #ffffff;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul li:last-child a{
    color: #ffffff; 
    padding: 10px;
    border: 3px solid #0076A3;
    border-radius: 10px;
    background-color: #0076A3;  
    transition:0.5s;
}

header nav ul li:last-child:hover a{
    color: #0076A3;
    border: 3px solid #0076A3;
    padding: 10px;
    text-decoration: none;
    background-color: #ffffff;
    
}


header nav ul li:hover a{
    color:#009ddb;
    text-decoration: none;
    
}


header nav ul li{
    
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
    
}

header nav ul li a{
    transition:0.5s;
    color:#0076A3;
    text-decoration: none;  
    font-size: 20px;
    
}

.formreg{
    color:#005374;
    padding: 20px;
    
    border-radius: 50px;
    box-shadow: 0px 3px 10px;
    background: #ffffff;
    min-height: 650px;
    width: 1000px;
    margin: 50px auto 50px;
}
h1{
    text-align: center;
    margin: 50px 0px;
}
.zakaz{
    
    display: flex;
}
/* first ul */
.firstUl{
    
    width: 300px;
    margin: 0 auto;
    padding: 0;
    
}
.firstUl li{
    list-style: none;
    margin: 10px;
}
.firstUl li input{
   height: 25px;
    width: 250px;
}
.firstUl li select{
    height: 25px;
     width: 147px;
 }
/* first ul */


/* second ul */
.secondUl{
    
    width: 300px;
    margin: 0 auto;
    padding: 0;
}
.secondUl li{
    list-style: none;
    
}
/* second ul */

/* third ul */
.thirdUl{
    width: 300px;
    
    margin: 0 auto;
    padding: 0;
}
.thirdUl li{
    list-style: none;
    
}
/* third ul */



.submit{
    display: block;
    margin: 70px auto 0px;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border:4px solid #004561;
    color: #ffffff;
    font-weight: bolder;
    background-color: #009edd;
    font-size: 30px;
}

footer{
    width: 100%;
    font-size: 15px;
    background-color: #ffffff;
    min-height: 5vh;
    box-shadow: 0px -3px 5px #aaaaaa;
}
footer p{
    color:#004561;
    padding: 15px 0px;
    margin: 0px;
    text-align: center;
}


